<ul class="media-list">
  <% if microposts.count == 0 %>
    表示できるものはありません
  <% else %>
    <% microposts.each do |micropost| %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
          </div>
          <div>
            <p><%= micropost.content %></p>
          </div>
          <div>
            <% if @favorite_list[micropost.id].nil? %>
              <%= form_for @favorite do |f| %>
                <%= f.hidden_field :user_id,value: @user.id %>
                <%= f.hidden_field :content_id, value: micropost.id %>
                <%= f.submit 'AddFavorite', class: 'btn btn-primary btn-xs' %>
              <% end %>
            <% else %>
              <%= link_to 'Remove Favorite', @favorite_list[micropost.id], method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'お気に入りから外しますか？' } %>
            <% end %>
            
            <% if current_user == micropost.user %>
              <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </div>
          <div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
  <%= paginate microposts %>
</ul>
